@{
    ViewBag.Title = "Blog Post";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Linha do tempo
                <small>Coronavírus no Brasil</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Linha do tempo</li>
            </ol>
            <img class="img-responsive" src="~/images/coronavirus-linha-do-tempo.jpg">
            <hr>
        </div>
    </div>
    <div class="row">


        <div class="col-lg-7">
            <p>
                <i class="fa fa-clock-o"></i> Postado em 17 de fevereiro 2020 por <a href="https://www.sanarmed.com/linha-do-tempo-do-coronavirus-no-brasil">Sanar Med</a>
            </p>
            <hr>
            <p class="lead">Preparamos uma linha do tempo do coronavírus no Brasil para você acompanhar os efeitos da pandemia no território nacional!.</p>

            <p class="text-justify">Quem recebeu as primeiras informações sobre o novo coronavírus, ainda no final de 2019, não poderia imaginar que três meses depois o número de infectados no mundo
            chegaria a mais de 190 mil pessoas, em todos os continentes – com exceção da Antártida.</p>

            <p class="text-justify">
                No Brasil, as primeiras ações ligadas à pandemia do covid-19 começaram em fevereiro, com a repatriação dos brasileiros que viviam em Wuhan, cidade chinesa epicentro da infecção.
                Em 15 dias, o país confirmou a primeira contaminação, quando a Europa já confirmava centenas de casos e encarava mortes decorrentes da covid-19.Para enxergar mais claramente a progressão do surto no país,
                acompanhe a linha do tempo do novo Coronavírus no Brasil a seguir:
            </p>

            <h3>09 de fevereiro</h3>
            <p class="text-justify">Trinta e quatro brasileiros que vivam na cidade chinesa de Wuhan, epicentro do novo coronavírus, foram repatriados. Duas aeronaves da Força Aérea Brasileira aterrissaram no Brasil com o grupo.
            Eles ficaram de quarentena por 14 dias na Base Aérea de Anápolis, em Goiás.</p>

            <h3>20 de fevereiro</h3>
            <p class="text-justify">Ministério da Saúde monitora apenas 1 casos suspeitos de infecção pelo novo coronavírus. A suspeita no Rio Grande do Sul foi descartada; apenas um de São Paulo é investigado.</p>

            <h3>21 de fevereiro</h3>
            <p class="text-justify">
                Ministério da Saúde ampliou a lista de países em alerta para o coronavírus, que passa a incluir Japão, Singapura, Coreia do Sul, Coreia do Norte, Tailândia, Vietnã, Camboja e China.
                Autoridades de saúde investigam casos suspeito de infecção pelo novo coronavírus. O caso suspeito em São Paulo foi descartado, e entrou em nova situação um caso no Rio de Janeiro. Brasil segue sem registro de circulação do coronavírus, após descarte de 51 casos suspeitos.
            </p>

            <h3>24 de fevereiro</h3>
            Brasil inclui mais 8 países em alerta para o coronavírus: Alemanha, Austrália, Emirados Árabes, Filipinas, França, Irã, Itália e Malásia. Até então, o Ministério da Saúde monitora quatro casos suspeitos de infecção pelo novo coronavírus, sendo 3 em São Paulo e 1 no Rio de Janeiro; 54 casos suspeitos foram descartados.

            <h3>26 de fevereiro</h3>
            Confirmado primeiro caso de coronavírus no Brasil. Paciente é um homem de 61 anos que viajou à Itália, e deu entrada no Hospital Albert Einstein no dia anterior.

            <h3>27 de fevereiro</h3>
            Sobe para 132 o número de casos suspeitos de coronavírus em monitoramento pelo Ministério da Saúde.

            <h3>28 de fevereiro</h3>
            <p class="text-justify">Ministério da Saúde lançou campanha publicitária de prevenção ao coronavírus, transmitida em TV aberta, rádio e internet, orientando a população a prevenir a covid-19 adotando hábitos como lavar as mãos com água e sabão, usar álcool em gel a 70% e não compartilhar objetos pessoais. Até então, 182 casos suspeitos estavam em monitoramento em 16 estados do país.</p>

            <h3>29 de fevereiro</h3>
            <p class="text-justify">
                Brasil confirma segundo caso importado de coronavírus. Paciente é homem de 32 anos, residente em São Paulo, que foi atendido no Hospital Israelita Albert Einstein na véspera, depois de chegar da região da Lombardia, na Itália. Paciente usou máscara durante o voo.
                Dado não muda o cenário do país, porque não há evidência de circulação sustentada. Ministério da Saúde anunciou a adoção de novo fluxo de consolidação de casos do novo coronavírus: descentralização dos casos, adotando integralmente os dados repassados pelos gestores locais.
            </p>

            <h3>02 de março</h3>
            <p class="text-justify">
                Dados registrados pelo  Ministério da Saúde indicam a confirmação de 2 casos de contaminação pelo novo coronavírus e o monitoramento de 433 casos suspeitos. Não há evidências de circulação sustentada do vírus em território brasileiro. Ministério monitora 15 países, além da China: Alemanha, Austrália, Emirados Árabes, Filipinas, França, Irã, Itália, Malásia, Japão, Singapura, Coreia do Sul, Coreia do Norte, Tailândia, Vietnã e Camboja.
                Foi anunciada a distribuição de 30 mil kits para teste diagnóstico específico para o covid-19. Inicialmente, 10 mil kits para os Laboratórios Centrais de Saúde Pública (LACENs) do Amazonas, Pará, Roraima, Bahia, Ceará, Pernambuco, Sergipe, Rio de Janeiro, Espírito Santo, Minas Gerais, Distrito Federal, Mato Grosso do Sul, Rio Grande do Sul, Paraná e Santa Catarina.
            </p>

            <h3>03 de março</h3>
            <p class="text-justify">
                Sobe para 488 o número de casos suspeitos de coronavírus sendo monitorados pelo Ministério da Saúde; 240 casos suspeitos foram descartados.
                O Ministério da Saúde inclui novos países na lista para definição de casos suspeitos, que passa a ter 27 países: Alemanha, Austrália, Canadá, China, Coreia do Norte, Coreia do Sul, Croácia, Dinamarca, Emirados Árabes Unidos, Espanha, Estados Unidos, Finlândia, França, Grécia, Holanda, Indonésia, Irã, Itália, Japão, Malásia, Noruega, Reino Unido, San Marino, Singapura, Suíça, Tailândia e Vietnã. Filipinas e Camboja, que não tiveram transmissão local, estão na região afetada.
            </p>

            <h3>04 de março</h3>
            <p class="text-justify">
                Confirmado mais um caso de coronavírus no Brasil. Um homem, residente em São Paulo, esteve na Europa, inclusive na Itália, nos 14 dias anteriores. É o terceiro caso de coronavírus.
                Ministério da Saúde aguarda a contraprova para confirmação de um quarto caso de coronavírus também em São Paulo, uma adolescente que esteve na Itália. O caso foge dos protocolos de vigilância definidos pela Organização Mundial da Saúde.
            </p>

            <h3>05 de março</h3>
            <p class="text-justify">
                Sobe para 8 o número de casos confirmados do novo coronavírus no Brasil: 6 em São Paulo, 1 no Espírito Santo e 1 no Rio de Janeiro. Também foi registrada a primeira transmissão interna no país.
                Caso no Espírito Santo é de uma mulher de 37 anos que esteve na Itália; no Rio, mulher de 27 anos esteve na Itália e na Alemanha, entre 9 e 23 de fevereiro. Há 636 casos suspeitos; 378 foram descartados. Dois casos de São Paulo têm relação com o primeiro caso de covid-19 no país, o chamado Paciente 1, mas isso não significa que há transmissão comunitária.
                Adolescente de 13 anos foi quarto caso confirmado, mas ela estava assintomática. Quatro elementos levaram à definição do caso como confirmado: resultado do exame de contraprova realizado pelo Instituto Adolfo Lutz (IAL), local provável de infecção (Itália), possibilidade do uso de medicação para tratar lesão que pode ter mascarado os sintomas e possibilidade de paciente apresentar sintomas provocados por coronavírus posteriormente.
                Também foi publicada em edição extra do Diário Ofiical da União a assinatura de contratos de aquisição de máscaras para proteção dos profissionais de saúde que atuam na rede pública, no valor de R$ 72,9 milhões. Foram adquiridas 500 mil máscaras do modelo N95 e quase 19 milhões de máscaras cirúrgias. Também foram adquiridos: óculos, álcool em gel e luvas.
            </p>
            <hr>
            <p>
                Devido nossos recursos de infraestrutura ser um pouco limitado, decidimos manter apenas estas primeras etapas da linha do tempo do coronavirus,
                para maiores informações acesso o site e veja por completo!
            </p>
            <a href="https://www.sanarmed.com/linha-do-tempo-do-coronavirus-no-brasil" target="_blank" class="btn btn-primary btn-outline-light">Leia mais</a>
        </div>
        <div class="col-lg-5">

            <!-- /well -->
            @*<div class="well">
                <h4>Acompanhe notícias em tempo real</h4>
                <div class="row">
                    <div class="col-lg-6">

                    </div>
                </div>
            </div>*@
            <!-- /well -->
            <div class="well">
                <h4>Acompanhe notícias em tempo real</h4>
                <p><script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading" data-fw-param="130259/"></script></p>
            </div>
            <!-- /well -->
        </div>
    </div>
</div>