@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sobre
                <small>O projeto</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Sobre</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/sobre_logo_drummond.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Agradecimentos</h2>
            <p>
                Primeiramente agracemos a Deus, por nos ter dado força, coragem, paciencia para chegarmos até o final do nosso curso, afinal foram 2 anos e 6 meses de grande aprendizado
                para todos nós alunos e professores.
            </p>
            <p>
                Foram meses aprendendo novos conceitos, tecnologias, projetos, palestras, filmes, dicas, conselhos, dúvidas pessoais relacionadas ao curso que foram sanadas,
                tudo isso que nos fizeram chegar neste momento tão esperado não somente a conclusão do curso mas sim o mais importante o aprendizado.
            </p>
            <p>Obrigado professores pelos ensinamentos aplicado!</p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Nosso time</h2>
        </div>
        <div class="col-sm-4">
            <img src="~/images/eduardor_foto.jpg" class="img-responsive">
            <h3>
                Eduardo Ribeiro Fernandes
                <p><small>RA: 181000846</small></p>
            </h3>
            <h4>Redes sociais</h4>
            <a href="https://github.com/matrixsuporte" target="_blank" class="btn btn-primary btn-outline-light">GitHub</a>
            <a href="https://www.linkedin.com/in/eduardo-ribeiro--/" target="_blank" class="btn btn-primary btn-outline-light">Linkedin</a>
        </div>
        <div class="col-sm-4">
            <img src="~/images/lucasr_foto.jpg" class="img-responsive">
            <h3>
                Lucas Recine Fernandes
                <p><small>RA: 181001618</small></p>
            </h3>
            <h4>Redes sociais</h4>
            <a href="https://github.com/lrecine" target="_blank" class="btn btn-primary btn-outline-light">GitHub</a>
            <a href="https://www.linkedin.com/in/lucas-recine-23a5b0174/" target="_blank" class="btn btn-primary btn-outline-light">Linkedin</a>
        </div>
        <div class="col-sm-4">
            <img src="~/images/lucass_foto.jpg" class="img-responsive">
            <h3>
                Lucas Silva Ferreira dos Santos
                <p><small>RA: 181001923</small></p>
            </h3>
            <h4>Redes sociais</h4>
            <a href="https://github.com/Lukinhassf" target="_blank" class="btn btn-primary btn-outline-light">GitHub</a>
            <a href="https://www.linkedin.com/in/lucas-silva-54b6551a2/" target="_blank" class="btn btn-primary btn-outline-light">Linkedin</a>
        </div>

        <div class="col-lg-12">
            <h2 class="page-header">Nossos professores</h2>
        </div>

        <div class="col-sm-4">
            <img src="~/images/pagnossim400.jpeg" width="400" height="400" class="img-responsive">
            <h3>
                JOSE LUIZ MATURANA PAGNOSSIM
            </h3>
            <h4>Redes sociais</h4>
            <a href="https://www.linkedin.com/in/jose-luiz-maturana-pagnossim-3454898/" target="_blank" class="btn btn-primary btn-outline-light">Linkedin</a>
        </div>

        <div class="col-sm-4">
            <img src="~/images/osvaldo400.jpeg" class="img-responsive">
            <h3>
                OSVALDO PROSPER OREB
            </h3>
            <h4>Redes sociais</h4>
            <a href="https://www.linkedin.com/in/osvaldoprosper/" target="_blank" class="btn btn-primary btn-outline-light">Linkedin</a>
        </div>

        <div class="col-sm-4">
            <img src="~/images/marivaldo.jpeg" class="img-responsive">
            <h3>
                MARIVALDO MUNIZ BEZERRA
            </h3>
            <h4>Redes sociais</h4>
            <a href="#" target="_blank" class="btn btn-primary btn-outline-light">Linkedin</a>
        </div>
    </div>
    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Ferramentas utilizadas no projeto</h2>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://visualstudio.microsoft.com/pt-br/vs/community/" target="_blank">
                <img src="~/images/visual-studio.jpg" class="img-responsive img-customer">
                IDE de desenvolvimento
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="http://startbootstrap.com" target="_blank">
                <img src="~/images/JSON.jpg" class="img-responsive img-customer">
                Json, foi a melhor maneira que encontaramos para troca de inormações entre servidores
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://getbootstrap.com.br/docs/4.1/getting-started/introduction/" target="_blank">
                <img src="~/images/bootstrap-4.jpg" class="img-responsive img-customer">
                Framwork escolhido para melhor estilização das páginas
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://www.ead.h9web.com.br/artigo/asp-net-mvc" target="_blank">
                <img src="~/images/asp-net-mvc-1510320630.jpg" class="img-responsive img-customer">
                ASP.NET VMC, Arquitetura utilizada na aplicação
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"></h2>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://github.com/" target="_blank">
                <img src="~/images/github_logo.png" class="img-responsive img-customer">
                Nosso versionador de código fonte
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://www.gearhost.com/" target="_blank">
                <h1>Gear</h1><img src="~/images/Gear_host_ghlogo2.svg" class="img-responsive img-customer">
                Servidor de Hospedagem Grátis escolhido para subir nossa aplicação Web
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://grafana.com/" target="_blank">
                <img src="~/images/Grafana_logo.png" class="img-responsive img-customer">
                Grafana, utilizada para análises de dados e extrair métricas para nossa Dashboard
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="https://systems.jhu.edu/research/public-health/ncov/" target="_blank">
                <img src="~/images/John_Hopkins_escuro.png" class="img-responsive img-customer">
                John Hopkins University, que nos permitiu exibir seus dados já convertidos em Json de casos COVID-19
            </a>
        </div>
    </div>
</div>